/*
#portal-globalnav > li > .wrapper a {
    color: #8a0000;
}

a#portal-logo {
    height: 70px;
    display: block;
    vertical-align: baseline;
}

a#portal-logo img {
    height: 60px;
    max-height: 60px;
}

a#portal-logo span#logo_abbr_title {
    font-size: 70px;
}

a#portal-logo span#logo_full_title {
    display: inline-block;
}

a#portal-logo span#logo_full_title span {
    display: block;
    font-size: 16px;
}
*/