// Navigation
#portal-globalnav-wrapper {
    background-color: #8a0000 !important;
}

#portal-globalnav {
    border-left: 1px solid #bbb;
}

#portal-globalnav li {
    border-right: 1px solid #bbb;
}

.plone-nav li ul {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    height: unset;
}

ul.dropdown li a {
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.plone-navbar-nav .has_subtree.inPath > a,
.plone-navbar-nav .has_subtree.inPath > a:hover,
.plone-navbar-nav .has_subtree.inPath > a:focus,
.plone-navbar-nav .has_subtree > a,
.plone-navbar-nav .has_subtree > a:hover,
.plone-navbar-nav .has_subtree > a:focus {
    background: transparent;
}

#portal-globalnav > li > a {
}

#portal-globalnav > li > a {
    border-bottom: 2px solid #8a0000 !important;
}

#portal-globalnav:hover > li > a:hover {
    border-bottom: 2px solid #bbb !important;
}
#portal-globalnav > li.inPath > a {
    border-bottom: 2px solid #bbb !important;
}

.plone-nav li a:hover, .plone-nav li a:focus {

}
.plone-nav li ul li a {
    color: #8a0000;
    background: #FFFFFF !important;
}

#portal-breadcrumbs {
    margin-top: 5px;
    background: transparent;
}

#portal-breadcrumbs a {
    border: 1px solid #e6e6e2;
}

// Search
#portal-header #portal-searchbox .searchSection {
    display: none;
}

// Mosaic
.mosaic-tile {
    margin-bottom: 20px;
}

.mosaic-plone\.app\.standardtiles\.html-tile .mosaic-tile-content,
.mosaic-plone\.app\.standardtiles\.contentlisting-tile .mosaic-tile-content {
    padding: 20px 10px 10px 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    border-radius: 5px;
}

.mosaic-tile-content h2 {
    margin-top: 0;
}

.mosaic-tile-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.mosaic-plone\.app\.standardtiles\.contentlisting-tile .mosaic-tile-content .documentByLine {
    display: none;
}

.mosaic-plone\.app\.standardtiles\.contentlisting-tile .mosaic-tile-content dt {
    clear: both;
}
.mosaic-plone\.app\.standardtiles\.contentlisting-tile .mosaic-tile-content .summary img {
    float: right;
    margin-bottom: 5px;
    border-radius: 0;
}