#portal-globalnav-wrapper {
    background-color: #8a0000 !important;
}
#portal-globalnav li {
    border-right: 1px solid #fff;
}

.plone-navbar-nav .has_subtree.inPath > a,
.plone-navbar-nav .has_subtree.inPath > a:hover,
.plone-navbar-nav .has_subtree.inPath > a:focus,
.plone-navbar-nav .has_subtree > a,
.plone-navbar-nav .has_subtree > a:hover,
.plone-navbar-nav .has_subtree > a:focus {
    background: transparent;
}

#portal-globalnav > li > a {
}

#portal-globalnav > li > a {
    border-bottom: 3px solid #8a0000 !important;
}

#portal-globalnav:hover > li > a:hover {
    border-bottom: 3px solid #fff !important;
}
#portal-globalnav > li.inPath > a {
    border-bottom: 3px solid #fff !important;
}

.plone-nav li a:hover, .plone-nav li a:focus {

}
.plone-nav li ul li a {
    color: #8a0000;
    background: #FFFFFF !important;
}

#portal-breadcrumbs {
    margin-top:5px;
    background: transparent;
}

#portal-breadcrumbs a {
    border: 1px solid #e6e6e2;
}